body {
  text-align: center;
}

form {
  display: inline-block;
}

div {
  margin: 15px;
  text-align: right;
}

a {
  padding: 25px;
  margin: 25px;
}

.search_button {
  background-color: #f8f9fa;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 0 16px;
  line-height: 27px;
  text-align: center;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  height: 36px;
  min-width: 54px;
  cursor: pointer;
  user-select: none;
}

.search_button:hover {
  background-color: #e7e7e7;
}

#search_bar {
  margin: 15px;
  padding: 8px;
  width: 500px;
  border-radius: 25px;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 21px;
  width: 400px;
  height: 144px;
  display: block;
}
