<!DOCTYPE html>
<html>
    <head>
        <title>ELI5 OOP - Abstraction</title>
        <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" 
        crossorigin="anonymous"
        >
        <link rel="stylesheet" href="../css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Abstraction</h1>
        <p>
            Abstraction is the idea of templating or defining the details of an object without delving into the
            specifics regarding implementation. For all intents and purposes, abstraction is creating a blueprint 
            and allowing the user to fill in the specifics as he/she deems fit. Let's take a look at this idea 
            by modeling Cars and Ferraris:
        </p>
        <hr>
        <pre><code>
            <span class="code-comment">// Our template of what a car should do</span>
            public <span class="code-highlight">interface</span> Car {

                void drive();
                void brake();
                String getMake();
                String getModel();

            }      

            <span class="code-comment">// Our specific implementation of a type of car</span>
            public class Ferrari <span class="code-highlight">implements</span> Car {
                
                private String model;
                private boolean inMotion;

                public Ferrari(String model) {
                    this.model = model;
                    this.inMotion = false;
                }

                public void drive() {
                    inMotion = true;
                }

                public void brake() {
                    inMotion = false;
                }

                public String getMake() {
                    return "Ferrari";
                }

                public String getModel() {
                    return model;
                }
            
            }
        </code></pre>
        <hr>
        <p>
            Immediately, we can see that this example uses a new piece of syntax: the concept of an <code>interface</code>.
            Interfaces are Java's answer to abstraction, allowing the user to give a high level overview as to what an 
            object should be able to do. All cars, regardless of their type, price, or any other relevant variable, have the 
            ability to drive and brake. Additionally, they all have makes and models that we should be able to extract. Note that 
            our interface only incudes method signatures (the first line of a method); actual classes need to fill in the details.
        </p>
        <p></code>
            Let's move on to our Ferrari class. Note that the first line, <code>public class Ferrari <b>implements</b> Car</code> 
            contains yet another new keyword. Simply put, <code>implements</code> is used to state that our class will fill in the blanks 
            left by our method signatures set by the relevant interface. Due to this keyword, we must fill in the details we passed on 
            during our creation of the interface, writing proper <code>drive()</code>, <code>brake()</code>, <code>getMake()</code>, and 
            <code>getModel()</code> methods. If we do not define all the methods noted in the interface, our Ferrari class will 
            not compile. Can you think why this must be the case? Java allowed us to define what a Car is at a high level and because 
            we've stated that all Cars must be able to do Car related things, our Ferrari class, which implements this interface, needs to 
            do all Car related things.
        </p>
        <a href="../index.html">Go back to the main page</a>
    </body>
</html>