body {
    margin: 25px;
}

h1 {
    text-align: center;
}

table {
    table-layout: auto;
}

ul > li {
    font-style: italic;
}

p::selection {
    color: rgb(0, 111, 238);
    background-color: yellow;
}

a:hover {
    background-color: lightcoral;
}

.code-comment {
    color: rgb(0, 111, 238);
  }

.code-highlight {
    color: rgb(255,0,255);
}

.oop-terms {
    @extend .code-highlight;
    font-style: bold;
}

#oop-cars {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
